{% extends "base.html" %} {% block content %}
<section class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="mb-4">About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet
        turpis ut elit dapibus, eu consequat felis feugiat. Nulla facilisi.
        Phasellus convallis dapibus velit, nec malesuada augue volutpat at. Duis
        sit amet felis non elit volutpat convallis a at est.
      </p>
      <p>
        Vestibulum ac tellus eu nulla facilisis congue vel nec risus. Vivamus
        aliquam mi eu metus consequat, vel convallis justo fermentum. In hac
        habitasse platea dictumst. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas.
      </p>
    </div>
  </div>
</section>

{% endblock content %}
