{% extends "base.html" %}
{% block content %}
<section class="container d-flex justify-content-center">
 
    
  <form method="POST" class="shadow p-5 mb-5 bg-body rounded" style="width: 26rem;">
    {% csrf_token %}
    <h3 class="my-4">contact page</h3>
    
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" name='name' id="form4Example1" class="form-control" />
      <label class="form-label"  for="form4Example1">Name</label>
    </div>
  
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="email" name="email" id="form4Example2" class="form-control" />
      <label class="form-label" for="form4Example2">Email address</label>
    </div>
  
    <!-- Message input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <textarea class="form-control" name="message" id="form4Example3" rows="4"></textarea>
      <label class="form-label" for="form4Example3">Message</label>
    </div>
  
 
  
    <!-- Submit button -->
    <button type="submit" data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">submit</button>
  </form>

</section>

{% endblock content %}