<div class="container">
  <div class="d-flex justify-content-between">
    <h5>Featured Story</h5>
    <a href="#">view more &rarr;</a>
  </div>
  <hr />
  <div class="card Regular shadow rounded">
    <div class="row g-0">
      <div class="col-md-6 p-3">
        <div class="card-body">
          <span
            class="rounded-pill px-3"
            style="
              background-color: #ebf4fa;
              color: #2f539b;
              text-align: center;
              padding: 3px;
            "
            >Tech</span
          >

          <h5 class="card-title mt-3">
            News companies post headline about creating new websites with
            powerful UI kits
          </h5>
          <p class="card-text">
            When creating and developing startups, using a UI kit to bootstrap
            your companies website can be an extremely efficient way to save
            time, money, and runway.
          </p>
        </div>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <img
          src="https://img.freepik.com/free-photo/female-hand-typing-keyboard-laptop_1150-15742.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703635200&semt=ais"
          class="img-fluid rounded-start"
          alt="img"
          style=""
        />
      </div>
    </div>
  </div>
</div>
