{% extends "base.html" %} {% block content %}{% load crispy_forms_tags %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %} {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Login</button>
            <div>
              if you have no account please
              <a href="{% url 'register' %}">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
